---
import Layout from '../layouts/Layout.astro';
import CardsContainer from '../components/CardsContainer.astro';
import SideMenu from '../components/SideMenu.astro';

---

<Layout title="El Taller Fantasma">
    <h1>Descubre el fascinante mundo de la impresión 3D y tecnicas de pinturas </h1>
    <CardsContainer />

    <SideMenu slot="aside" mode="normal"/>
</Layout>

<style>

</style>