---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import CardsContainer from '../components/CardsContainer.astro';

---

<Layout title="Astro project by immalz">
    <!-- <Launches /> -->
    <h1>Moving fast breaks things: the importance of a staging environment</h1>
    <CardsContainer />
</Layout>

<style>

</style>