---
import Layout from '../layouts/Layout.astro';
import CardsContainer from '../components/CardsContainer.astro';

---

<Layout title="Bocchi the blog">
    <h1>Moving fast breaks things: the importance of a staging environment</h1>
    <CardsContainer />
</Layout>

<style>

</style>