---
import Layout from '../layouts/Layout.astro';
import CardsContainer from '../components/CardsContainer.astro';
import SideMenu from '../components/SideMenu.astro';

---

<Layout title="Bocchi the blog">
    <h1>Descubre reseñas, recomendaciones y las últimas noticias del universo animado. </h1>
    <CardsContainer />

    <SideMenu slot="aside" mode="normal"/>
</Layout>

<style>

</style>