---
interface Props {
	text: string;
    route: string;
}

const { text, route } = Astro.props;
---

<div class="more">
    <a href=`/${route}` class="more-button">
        {text}
    </a>
</div>

<style lang="scss">
        .more {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 2rem 0;

        .more-button {
            width: 200px;
            border-radius: 20px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #010101;
            color: #fff;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            position: relative;
            padding: 10px 22px;
            font-weight: 600;

            &:active {
                transform: scale(0.96);
            }

            &::after, &::before {
                content: '';
                position: absolute;
                left: 50%;
                width: 100%;
                height: 150px;
                transform: translateX(-50%);
                z-index: -1000;
                background-repeat: no-repeat;
                // overflow: hidden;
            }

            &:hover::before {
                top: -70%;
                background-image: radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, transparent 20%, #000 20%, transparent 30%),
                    radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, transparent 10%, #000 15%, transparent 20%),
                    radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, #000 20%, transparent 20%);
                background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
                    10% 10%, 18% 18%;
                animation: greentopBubbles ease-in-out 0.6s forwards ;
            }
            @keyframes greentopBubbles {
                0% {
                    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
                    40% 90%, 55% 90%, 70% 90%;
                }
                50% {
                    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
                    50% 50%, 65% 20%, 90% 30%;
                }
                100% {
                    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
                    50% 40%, 65% 10%, 90% 20%;
                    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
                }
            }
            &:hover::after {
                bottom: -70%;
                background-image: radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, transparent 10%, #000 15%, transparent 20%),
                    radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, #000 20%, transparent 20%),
                    radial-gradient(circle, #000 20%, transparent 20%);
                background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
                animation: greenbottomBubbles ease-in-out 0.6s forwards ;
            }
            @keyframes greenbottomBubbles {
                0% {
                    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
                    70% -10%, 70% 0%;
                }
                50% {
                    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
                    105% 0%;
                }
                100% {
                    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
                    110% 10%;
                    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
                }
            }
        }
    }
</style>

<script>
    const button: any = document.querySelector(".more-button");
      button.addEventListener("click", (e: any) => {
        e.preventDefault;
        button.classList.add("animate");
        setTimeout(() => {
          button.classList.remove("animate");
        }, 600);
    });
</script>