---
import { ViewTransitions } from "astro:transitions";
import '../styles/global.css';

interface Props {
	title: string;
}
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Cursor from '../components/Cursor.astro';
import SideMenu from '../components/SideMenu.astro';



const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<Header/>
		<main class="container">
			<section>
				<slot />
			</section>
			<aside>
				<SideMenu />
			</aside>
		</main>
		<Footer />
		<Cursor />
	</body>
</html>

<style is:global lang="scss">

	::root {
	}
	html {
		font-family: 'Roboto', system-ui, sans-serif;
		/* color-scheme: dark light; */

	}

	:focus { 
		outline-color: transparent; 
		outline-style: none;
	}

	body {
		width: 100%;
		min-height: 100dvh;
		margin: 0;
		padding: 0;
		display: flex;
		
		flex-direction: column;
		/* color: light-dark(#00ddfa, #585804); */
		color: #1a1a1a;
  		/* background-color: light-dark(#ce7c02, #babdbb); */

		main.container {
			max-width: 95%;
			width: 1200px;
			margin: 0 auto;
			display: grid;
			grid-template-columns: 1fr 300px;
			grid-template-areas: "content aside";
			grid-gap: 20px;

			section {
				grid-area: content;
				// padding: 0 20px;
			}

			aside {
				grid-area: aside;
				// padding: 0 20px;
			}

			@media (max-width: 750px) {
            grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			grid-template-areas: 'content' 'aside';
        }
		}
	}
</style> 


